@mixin page-container {
  padding: var(--spacing-page-top) var(--spacing-page-side);
  height: 100%;
}

@mixin center-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-self {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin shadow-light {
  box-shadow: 0px 4px 32px rgba($color-primary, 0.05);
}

@mixin shadow-dark {
  box-shadow: 0px 4px 32px rgba($color-primary, 0.5);
}

@mixin table-row {
  padding: $spacing-15 0;
}

@mixin table-row-item {
  @include table-row;
  color: $color-table-content;
  border-top: 1px solid $color-table-divider;
  white-space: nowrap;
  padding-right: $spacing-15;
}

@mixin button-reset {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

@mixin form-error-text {
  color: $color-form-input-error-text;
  font-weight: 500;
  font-size: 14px;
}

@mixin form-input-error-styles {
  &.is-errored {
    border-color: $color-form-input-error-border;
    margin-bottom: 0;

    &:focus {
      outline-color: $color-form-input-error-border;
    }
  }
}

@mixin button-tertiary {
  @include button-reset;
  border: 2px solid $color-primary-gradient;
  color: $color-primary-gradient;
  background-color: $color-white;
  font-weight: 500;
  font-size: 16px;
  padding: $spacing-10 $spacing-15;
  border-radius: $br-sm;
}

@mixin form-label-error-styles {
  &.is-errored {
    color: $color-form-input-error-text;
  }
}

@mixin button-default {
  @include button-reset;
  color: $color-white;
  background-color: $color-primary;
  font-size: 16px;
  font-weight: 500;
  padding: $spacing-10 $spacing-15;
  border-radius: $br-sm;
}

@mixin page-subheading {
  font-weight: 500;
  color: $color-subheading;
  font-size: 22px;
}

@mixin settings-description {
  color: $color-table-content;
  margin-bottom: $spacing-20;
  max-width: 700px;
  line-height: 160%;
}

@mixin form-input {
  display: block;
  background-color: $color-form-input-background;
  padding: 12px;
  border: 1px solid $color-primary-gradient;
  border-radius: $br-sm;
  font-size: 18px;
  width: 100%;
  margin-bottom: 23px;

  @include form-input-error-styles;
}

@mixin form-input-label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: $spacing-5;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: $color-form-label;

  @include form-label-error-styles;
}

@mixin settings-moveable-item {
  cursor: pointer;
  border: 0;
  font-weight: 400;
  color: $color-subheading;
  background-color: $color-settings-item;
  border-radius: $br-med;

  &:hover {
    background-color: $color-settings-item-hover;
  }

  @include media-phone {
    font-size: 14px;
  }
}

@mixin link {
  color: $color-primary;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@mixin media-phone {
  @media only screen and (max-width: 540px) {
    @content;
  }
}

@mixin media-tablet {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin media($max-width) {
  @media (max-width: $max-width) {
    @content;
  }
}

@mixin media-ld {
  @media only screen and (max-width: 1250px) {
    @content;
  }
}

@mixin media-sd {
  @media only screen and (max-width: 1450px) {
    @content;
  }
}

@mixin media-phone-sm {
  @media only screen and(max-width: 450px) {
    @content;
  }
}
