/* Context menu overrides */
.mat-menu-panel {
  min-height: initial !important;
  border-radius: 10px !important;
}

/* Drag drop overrides */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Modal overrides */
::ng-deep .mat-dialog-container {
  overflow: initial;
  border-radius: 10px;
  padding: $spacing-30;
  position: relative;

  @include media-phone {
    padding: $spacing-15;
  }
}

.cdk-global-overlay-wrapper {
  @include media-phone {
    padding: $spacing-30;
  }

  @include media-phone-sm {
    padding: $spacing-10;
  }
}
.cdk-global-overlay-wrapper .cdk-overlay-pane {
  @include media-phone {
    max-width: 100% !important;
    width: 100%;
  }
}

/* For safari input bugs */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
}

/* ngxToastr */
.toast-container {
  top: $spacing-20 !important;
  right: $spacing-20 !important;

  @include media-phone {
    top: 78px !important; // To place below header
  }
}
.ngx-toastr {
  width: 400px !important;
  max-width: calc(100vw - 40px) !important;
  padding-left: 80px !important;
  background-position: 30px center !important;
  border-radius: $br-med !important;

  @include media-phone {
    padding-left: 50px !important;
    background-position: 15px center !important;
  }
}
.toast-success {
  background-color: $color-positive !important;
}
.toast-error {
  background-color: $color-negative !important;
}

.toast-info {
  background-color: $color-primary-gradient-solid !important;
}
