$color-primary: #3657dc;
$color-primary-light: rgba($color-primary, 8%);
$color-primary-gradient: rgba(#1c80dc, 65%);
$color-page-background: rgb(239, 242, 252);

$color-form-input-error-text: #c53030;
$color-form-input-error-border: #fc8181;

$color-danger-background: #fed7d7;
$color-form-input-background: #f6f8fd;
$color-grey-background: #f9f9f9;
$color-table-divider: #e5e5e5;
$color-table-content: #5a5a5a;
$color-table-header: #a0a0a0;
$color-settings-item: #e5e5e5;
$color-settings-item-hover: #d4d4d4;

$color-heading: #383838;
$color-subheading: #5a5a5a;

$color-form-label: #2b6cb0;

$color-white: #fff;

$spacing-5: 5px;
$spacing-10: 10px;
$spacing-15: 15px;
$spacing-20: 20px;
$spacing-30: 30px;
$spacing-40: 40px;
$spacing-50: 50px;
$spacing-60: 60px;
$spacing-70: 70px;
$spacing-80: 80px;

$br-sm: 5px;
$br-med: 10px;
$br-max: 9999px;
